:root {
    --gray: hsl(0, 0%, 50%);
    --green: hsl(150, 100%, 50%);
    --red: hsl(330, 100%, 50%);
    --blue-100: hsl(210, 100%, 90%);
    --blue-200: hsl(210, 100%, 80%);
    --blue-300: hsl(210, 100%, 70%);
    --blue-400: hsl(210, 100%, 60%);
    --blue-500: hsl(210, 100%, 50%);
    --blue-600: hsl(210, 100%, 40%);
    --blue-700: hsl(210, 100%, 30%);
    --blue-800: hsl(210, 100%, 20%);
    --blue-900: hsl(210, 100%, 10%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px "Poppins", Arial, sans-serif;

    background-color: var(--blue-900);
}

input,
textarea {
    font-family: "Poppins";
}

button,
.checkmark {
    cursor: pointer;
}

@media (min-width: 600px) {
    body {
        background-color: #ffffff;
    }
}
