.taskList {
    .main {
        ul {
            li {
                div {
                    &.completed {
                        p {
                            text-decoration: line-through;
                            opacity: 0.6;
                        }
                    }

                    .checkboxContainer {
                        display: block;
                        position: relative;
                        padding-left: 14px;
                        margin-bottom: 18px;

                        input {
                            &:checked {
                                & ~ .checkmark {
                                    background-color: #4a5568;
                                }

                                & ~ .checkmark:after {
                                    display: block;
                                }
                            }
                        }

                        .checkmark {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 16px;
                            height: 16px;
                            background-color: #4a5568;
                            border-radius: 2px;

                            &:after {
                                content: "";
                                position: absolute;
                                display: none;
                                left: 6px;
                                top: 3px;
                                width: 4px;
                                height: 8px;
                                border: solid white;
                                border-width: 0 2px 2px 0;
                                transform: rotate(45deg);
                            }
                        }
                    }
                }

                button {
                    background: transparent;

                    &:hover {
                        svg {
                            color: #c53030;
                            transition: all 0.25s;
                        }
                    }
                }
            }
        }
    }
}
